# ---- Python ----
__pycache__/
*.py[codz]
*$py.class
*.so
.env
.envrc
.venv
env/
venv/
*.egg-info/
dist/
build/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.ipynb_checkpoints/
*.csv

# ---- R / RStudio ----
.Rproj.user/
.Rhistory
.RData
.Ruserdata
*.Rproj

# ---- Quarto ----
_freeze/
_site/
/.quarto/
*_files/
*_cache/

# ---- VSCode ----
.vscode/

# ---- Positron / RStudio ----
.Rproj.user/

# ---- Data ----
data/raw/
data/**/*.csv
!data/dat_analysis.csv